.wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.page {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}

.page .pageUl {
    display: flex;
    gap: 1rem;
}

.page .pageUl>li {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    font-weight: 500;
    color: #151411;
    cursor: pointer;
    /* background-color: #518581; */
}

.page .pageUl>li>span {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 42px;
    height: 42px;
}




@media (max-width: 768px) {
    .page {
        padding: 0 0 5rem 0;
    }

    .page .pageUl {
        gap: 1rem;
    }

    .page .pageUl>li {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
    }

    .page .pageUl>li>span {
        width: 32px;
        height: 32px;
    }

}