.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container {
  width: 100%;
}

.container .banner .title {
  text-align: center;
  padding: 100px 0 90px 0;
}


.container .banner .title .divp {
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
  width: 750px;
}


.container .banner .title .divp>span {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .banner .title .divp>span:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 0;
  left: -170px;
  z-index: 50;
}

.container .banner .title .divp>span:nth-child(3) {
  width: 50px;
  height: 50px;
  top: -70px;
  right: 20px;
  z-index: 60;
}

.container .banner .title>h1 {
  width: 750px;
  margin: 0 auto;
}

.container .banner .title .divp .search {
  position: absolute;
  width: 810px;
  height: 84px;
  background-color: #fff;
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .banner .title .divp .search>span {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .banner .title .divp .search>form {
  height: 50px;
  width: 700px;
  display: flex;
}

.container .banner .title .divp .search>form>input {
  width: 530px;
  height: 50px;
  border: unset;
  appearance: none;
  padding: 0 0.8rem;
  color: #5a5a5a;
  outline: none;
  transition: 0.3s all ease-in-out;
  font-size: 18px;
}

.container .banner .title .divp .search>form>button {
  background-color: #518581;
  width: 170px;
  height: 50px;
  display: block;
  border: unset;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.container .banner .title .divp .search>form>button:hover {
  background-color: #3c6966;
}

/* ---------------------benefits------------------- */

.container .benefits {
  padding-top: 12rem;
}

.container .benefits .btop {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .benefits .bmiddle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.container .benefits .bbottom .bbottomUl {
  display: flex;
  justify-content: space-between;
}

.container .benefits .bbottom .bbottomUl>li {
  width: 32%;
  height: 285px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.container .benefits .bbottom .bbottomUl>li>span {
  display: block;
  background: #F9F9F9;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.container .benefits .bbottom .bbottomUl>li>h3 {
  padding-bottom: 20px;
}

.container .benefits .bbottom .bbottomUl>li>p {
  padding-bottom: 20px;
}

/* ---------------------product------------------- */

.container .product {
  padding-top: 12rem;
}

.container .product .title {
  padding-bottom: 50px;
  text-align: center;
}

.container .product .title>h5 {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .product .title>h2 {
  padding-bottom: 20px;
}

.container .mySwiper {
  width: 100%;
  height: auto;
}

.container .mySwiper .inner {
  width: 100%;
  padding-bottom: 4rem;
  height: auto;
}

.container .mySwiper .inner>img {
  width: 100%;
}

.container .mySwiper .inner>h5 {
  padding: 26px 0 14px 0;
  color: #AFADB5;
}

.container .mySwiper .inner>p {
  padding: 10px 0 18px 0;
}

/* ---------------------quality------------------- */

.container .quality {
  padding-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2%
}

.container .quality>h5 {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .quality .left {
  width: 49%;
}

.container .quality .left .title {
  padding-bottom: 50px;
  text-align: left;
}

.container .quality .left .title>h2 {
  padding-bottom: 50px;
}

.container .quality .left .title>p {
  padding-bottom: 50px;
}

.container .quality .left .title a {
  display: block;
  width: 170px;
  height: 54px;
  background-color: #518581;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 54px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
  margin-bottom: 50px;
}

.container .quality .left .title a:hover {
  background-color: #3c6966;
}

.container .quality .right {
  width: 49%;
}

.container .quality .right .rightUl {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-bottom: 57px;
}

.container .quality .right .rightUl li>h2 {
  padding-bottom: 10px;
}

.container .quality .right>img {
  width: 100%;
}

/* ---------------------created------------------- */

.container .created {
  padding-top: 12rem;
}

.container .created .title {
  padding-bottom: 50px;
  text-align: center;
}

.container .created .title>h5 {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .created .title>h2 {
  padding-bottom: 20px;
}

.container .mySwiper2 {
  width: 100%;
  padding-bottom: 3rem;
}

.container .mySwiper2 .inner {
  width: 100%;
  padding: 2rem 1.5rem 1rem 1.5rem;
  background-color: #fff;
  height: 256px;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
}

.container .mySwiper2 .inner>span {
  display: block;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
}

.container .mySwiper2 .inner>h5 {
  padding: 26px 0 14px 0;
  color: #AFADB5;
}

.container .mySwiper2 .inner>p {
  padding: 26px 0 26px 0;
}

.container .mySwiper2 .inner .cbottom {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .mySwiper2 .inner .cbottom .left {
  display: flex;
  align-items: center;
}

.container .mySwiper2 .inner .cbottom .left>h4 {
  padding-left: 1rem;
}

.container .mySwiper2 .inner .cbottom .left>img {
  width: 50px;
  height: 50px;
}

.container .mySwiper2 .inner .cbottom .right {
  display: flex;
  align-items: center;
}

.container .mySwiper2 .inner .cbottom .right>span {
  display: block;
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.container .mySwiper2 .inner .cbottom .right>h5 {
  padding-left: 0.5rem;
}

/* ---------------------benefits------------------- */

.container .articles {
  padding-top: 12rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.container .articles>h5 {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .articles .left {
  width: 49%;
}

.container .articles .left>p {
  padding: 2rem 0;
}

.container .articles .left .leftPic {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  height: auto;
  padding-top: 450px;
  padding-left: 1rem;
  /* padding-bottom: 103%; */
  position: relative;
}

.container .articles .left .leftPic .navi {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 140px;
  height: 70px;
  display: flex;
}

.container .articles .left .leftPic .navi>span {
  width: 70px;
  height: 70px;
  display: block;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  cursor: pointer;
}

.container .articles .left .leftPic .navi>span:nth-child(1) {
  background-color: #ffffff;
}

.container .articles .left .leftPic .navi>span:nth-child(2) {
  background-color: #518581;
}

.container .articles .left .leftPic>p {
  color: #ffffff;
}

.container .articles .left .leftPic>h3 {
  padding: 10px 0 6px 0;
  color: #ffffff;
}

.container .articles .left .leftPic>a {
  display: block;
  padding-top: 1rem;
  color: #ffffff;
}

.container .articles .right {
  width: 49%;
}

.container .articles .right .rightUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .articles .right .rightUl>li {
  display: flex;
}

.container .articles .right .rightUl>li .content {
  padding: 1rem 0 0 2rem;
  width: 70%;
}

.container .articles .right .rightUl>li .content>h3 {
  padding: 21px 0 14px 0;
}

.container .articles .right .rightUl>li .picWrap {
  display: block;
  width: 30%;
}

.container .articles .right .rightUl>li .content .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.container .articles .right .rightUl>li .content .user .userInner {
  display: flex;
  align-items: center;
}

.container .articles .right .rightUl>li .content .user .userInner>span {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 28px;
}

.container .articles .right .rightUl>li .content .user .userInner>h6 {
  padding-left: 0.5rem;
}

.container .articles .right .rightUl>li .content .user>p {
  font-size: 14px;
}


/* ---------------------join------------------- */

.container .join {
  padding-top: 12rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.container .join>a {
  color: #ffffff;
  background-color: #518581;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: 0.3s all ease-in-out;
}

.container .join>a:hover {
  background-color: #3c6966;
}








@media (max-width: 992px) {
  .container .banner .title {
    text-align: center;
    padding: 100px 0 90px 0;
  }


  .container .banner .title .divp {
    padding-top: 30px;
    margin: 0 auto;
    position: relative;
    width: 750px;
  }


  .container .banner .title .divp>span {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container .banner .title .divp>span:nth-child(2) {
    width: 160px;
    height: 160px;
    top: 60px;
    left: -50px;
    z-index: 50;
  }

  .container .banner .title .divp>span:nth-child(3) {
    width: 50px;
    height: 50px;
    top: -70px;
    right: 20px;
    z-index: 60;
  }

  .container .banner .title>h1 {
    width: 750px;
    margin: 0 auto;
  }

  .container .banner .title .divp .search {
    position: absolute;
    width: 600px;
    height: 84px;
    background-color: #fff;
    box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .banner .title .divp .search>span {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container .banner .title .divp .search>form {
    height: 50px;
    width: 520px;
    display: flex;
  }

  .container .banner .title .divp .search>form>input {
    width: 360px;
    height: 50px;
    border: unset;
    appearance: none;
    padding: 0 0.8rem;
    color: #5a5a5a;
    outline: none;
    transition: 0.3s all ease-in-out;
    font-size: 18px;
  }

  .container .banner .title .divp .search>form>button {
    background-color: #518581;
    width: 160px;
    height: 50px;
    display: block;
    border: unset;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }





  .container .mySwiper2 .inner {
    height: 300px;
  }


}



@media (max-width: 768px) {
  .wrap {
    max-width: 1400px;
    padding: 0 1.5rem;
  }

  .container .banner .title {
    padding: 40px 0 70px 0;
  }

  .container .banner .title .divp {
    padding-top: 30px;
    width: 100%;
  }

  .container .banner .title .divp>p>br {
    display: none;
  }

  .container .banner .title .divp>span:nth-child(2) {
    width: 70px;
    height: 70px;
    top: 100px;
    left: -25px;
  }

  .container .banner .title .divp>span:nth-child(3) {
    width: 50px;
    height: 50px;
    top: -30px;
    right: 20px;
    z-index: 60;
  }

  .container .banner .title>h1 {
    width: 100%;
  }

  .container .banner .title .divp .search {
    width: 85%;
    height: 60px;
    top: 130px;
  }

  .container .banner .title .divp .search>span {
    width: 15%;
    height: 30px;
    background-size: 30px;
    background-position: center;
  }

  .container .banner .title .divp .search>form {
    height: 40px;
    width: 100%;
    padding-right: 0.5rem;
  }

  .container .banner .title .divp .search>form>input {
    width: 85%;
    height: 40px;
    padding: 0 0.8rem;
    font-size: 14px;
  }

  .container .banner .title .divp .search>form>button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }

  /* ---------------------benefits------------------- */

  .container .benefits {
    padding-top: 3rem;
  }

  .container .benefits .btop {
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .container .benefits .bmiddle {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
  }

  .container .benefits .bmiddle .left {
    padding-bottom: 0.5rem;
  }

  .container .benefits .bbottom .bbottomUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .container .benefits .bbottom .bbottomUl>li {
    width: 100%;
    height: auto;
    min-height: 220px;
    padding: 1rem 1rem 1rem 1rem;
  }

  .container .benefits .bbottom .bbottomUl>li>span {
    background-size: 38px;
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
  }

  .container .benefits .bbottom .bbottomUl>li>h3 {
    padding-bottom: 20px;
  }

  .container .benefits .bbottom .bbottomUl>li>p {
    padding-bottom: 20px;
  }

  /* ---------------------product------------------- */

  .container .product {
    padding-top: 3rem;
  }

  .container .product .title {
    padding-bottom: 50px;
  }

  .container .product .title>h5 {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .container .product .title>h2 {
    padding-bottom: 0.5rem;
  }

  .container .mySwiper {
    width: 100%;
    height: auto;
  }

  .container .mySwiper .inner {
    width: 100%;
    padding-bottom: 3rem;
    height: auto;
  }

  .container .mySwiper .inner>h5 {
    padding: 26px 0 14px 0;
  }

  .container .mySwiper .inner>p {
    padding: 10px 0 18px 0;
  }

  /* ---------------------quality------------------- */

  .container .quality {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2%
  }

  .container .quality>h5 {
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .container .quality .left {
    width: 100%;
  }

  .container .quality .left .title {
    padding-bottom: 50px;
    text-align: center;
  }

  .container .quality .left .title>h2 {
    padding-bottom: 0.5rem;
  }

  .container .quality .left .title>p {
    padding-bottom: 30px;
  }

  .container .quality .left .title a {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
  }



  .container .quality .right {
    width: 100%;
  }

  .container .quality .right .rightUl {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 30px;
  }

  .container .quality .right .rightUl li>h2 {
    padding-bottom: 10px;
  }

  .container .quality .right>img {
    width: 100%;
  }

  /* ---------------------created------------------- */

  .container .created {
    padding-top: 3rem;
  }

  .container .created .title {
    padding-bottom: 30px;
    text-align: center;
  }

  .container .created .title>h5 {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .container .created .title>h2 {
    padding-bottom: 0.5rem;
  }

  .container .mySwiper2 {
    width: 100%;
    padding-bottom: 3rem;
  }

  .container .mySwiper2 .inner {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
  }

  .container .mySwiper2 .inner>span {
    width: 100%;
    height: 30px;
    background-size: 30px;
  }

  .container .mySwiper2 .inner>h5 {
    padding: 26px 0 14px 0;
  }

  .container .mySwiper2 .inner>p {
    padding: 26px 0 26px 0;
  }

  .container .mySwiper2 .inner .cbottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: unset;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .container .mySwiper2 .inner .cbottom .left {
    display: flex;
    align-items: center;
  }

  .container .mySwiper2 .inner .cbottom .left>h4 {
    padding-left: 0.5rem;
    font-size: 12px;
  }

  .container .mySwiper2 .inner .cbottom .left>img {
    width: 30px;
    height: 30px;
  }

  .container .mySwiper2 .inner .cbottom .right {
    display: flex;
    align-items: center;
  }

  .container .mySwiper2 .inner .cbottom .right>span {
    width: 30px;
    height: 30px;
    background-size: 20px;
  }

  .container .mySwiper2 .inner .cbottom .right>h5 {
    padding-left: 0.5rem;
  }

  /* ---------------------benefits------------------- */

  .container .articles {
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  .container .articles>h5 {
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .container .articles .left {
    width: 100%;
    text-align: center;
  }

  .container .articles .left>p {
    padding: 0.5rem 0;
  }

  .container .articles .left .leftPic {
    min-height: auto;
    width: 100%;
    height: auto;
    text-align: left;
    background-position: bottom;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 1rem;
  }

  .container .articles .left .leftPic .navi {
    position: absolute;
    bottom: -1.5rem;
    right: 0;
    width: 100px;
    height: 50px;
    display: flex;
  }

  .container .articles .left .leftPic .navi>span {
    width: 50px;
    height: 50px;
  }

  .container .articles .left .leftPic>h3 {
    padding: 10px 0 6px 0;
  }

  .container .articles .left .leftPic>a {
    padding-top: 1rem;
  }

  .container .articles .right {
    margin-top: 3rem;
    width: 100%;
  }

  .container .articles .right .rightUl {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container .articles .right .rightUl>li {
    display: flex;

  }

  .container .articles .right .rightUl>li .content {
    padding: 0rem 0 0 1rem;
    width: 75%;
  }

  .container .articles .right .rightUl>li .content>h3 {
    padding: 0.3rem 0 0.3rem 0;
  }

  .container .articles .right .rightUl>li .picWrap {
    width: 25%;
  }

  .container .articles .right .rightUl>li .content .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }

  .container .articles .right .rightUl>li .content .user .userInner {
    display: flex;
    align-items: center;
  }

  .container .articles .right .rightUl>li .content .user .userInner>span {
    width: 28px;
    height: 28px;
  }

  .container .articles .right .rightUl>li .content .user .userInner>h6 {
    padding-left: 0.5rem;
  }

  .container .articles .right .rightUl>li .content .user>p {
    font-size: 12px;
    width: 100%;
    padding-left: 36px;
  }


  /* ---------------------join------------------- */

  .container .join {
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .container .join>a {
    font-size: 14px;
    width: 120px;
    height: 40px;
    line-height: 40px;
  }


}