.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container {
  width: 100%;
}

.container .banner .title {
  text-align: center;
  padding: 100px 0 90px 0;
}


.container .banner .title .divp {
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
  width: 750px;
}


.container .banner .title .divp>span {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .banner .title .divp>span:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 0;
  left: -170px;
  z-index: 50;
}

.container .banner .title .divp>span:nth-child(3) {
  width: 50px;
  height: 50px;
  top: -70px;
  right: 20px;
  z-index: 60;
}

.container .banner .title>h1 {
  width: 750px;
  margin: 0 auto;
}

.container .banner .title .divp .search {
  position: absolute;
  width: 810px;
  height: 84px;
  background-color: #fff;
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .banner .title .divp .search>span {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .banner .title .divp .search>form {
  height: 50px;
  width: 700px;
  background-color: #fda;
  display: flex;
}

.container .banner .title .divp .search>form>input {
  width: 530px;
  height: 50px;
  border: unset;
  appearance: none;
  padding: 0 0.8rem;
  color: #5a5a5a;
  outline: none;
  transition: 0.3s all ease-in-out;
  font-size: 18px;
}

.container .banner .title .divp .search>form>button {
  background-color: #518581;
  width: 170px;
  height: 50px;
  display: block;
  border: unset;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.container .banner .title .divp .search>form>button:hover {
  background-color: #3c6966;
}

.container .benefits {
  padding-top: 12rem;
}

.container .benefits .btop {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .benefits .bmiddle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.container .benefits .bbottom .bbottomUl {
  display: flex;
  justify-content: space-between;
}

.container .benefits .bbottom .bbottomUl>li {
  width: 32%;
  height: 285px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.container .benefits .bbottom .bbottomUl>li>span {
  display: block;
  background: #F9F9F9;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.container .benefits .bbottom .bbottomUl>li>h3 {
  padding-bottom: 20px;
}

.container .benefits .bbottom .bbottomUl>li>p {
  padding-bottom: 20px;
}

.container .product {
  padding-top: 12rem;
}

.container .product .title {
  padding-bottom: 50px;
  text-align: center;
}

.container .product .title>h5 {
  width: 100%;
  color: #FFB23F;
  font-weight: 700;
  padding-bottom: 1rem;
}

.container .product .title>h2 {
  padding-bottom: 20px;
}

.container .mySwiper {
  width: 100%;
  height: 550px;
}

.container .mySwiper .inner {
  width: 100%;
  height: auto;
}

.container .mySwiper .inner>img {
  width: 100%;
}

.container .mySwiper .inner>h5 {
  padding: 26px 0 14px 0;
  color: #AFADB5;
}

.container .mySwiper .inner>p {
  padding: 10px 0 18px 0;
}