.wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}


/* ---------------------banner------------------- */

.banner .title {
    width: 100%;
    text-align: center;
    padding: 100px 0 90px 0;
}

.banner .title>h1 {
    padding-bottom: 2rem;
}

.banner .title .rwBr {
    display: none;
}


/* ---------------------search------------------- */

.search {
    padding: 5rem 0;
}

.search .searchWrap {
    display: flex;
    gap: 2%;
}

.search .searchWrap>form {
    width: 80%;
}

.search .searchWrap>form .inner {
    height: 84px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
    display: flex;
    align-items: center;
}

.search .searchWrap>form .inner>span {
    display: block;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    width: 5%;
    height: 25px;

}

.search .searchWrap>form .inner>input {
    width: 75%;
    height: 60px;
    border: unset;
    appearance: none;
    padding: 0 0.8rem;
    color: #5a5a5a;
    outline: none;
    transition: 0.3s all ease-in-out;
    font-size: 18px;
}

.search .searchWrap>form .inner>input::placeholder {
    color: #AFADB5;
}

.search .searchWrap>form .inner>button {
    width: 19%;
    height: 60px;
    background-color: #518581;
    border: unset;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-left: 1%;
}

.search .searchWrap>form .inner>button:hover {
    background-color: #3c6966;
}

.search .searchWrap>button {
    width: 18%;
    background-color: #ffffff;
    border: unset;
    color: #151411;
    font-size: 18px;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search .searchWrap>button:hover {
    background-color: #f5f5f5;
}

.search .searchWrap>button>span {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: block;
}

/* ---------------------products------------------- */

.products {
    padding-top: 5rem;
}

.products .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .title .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products .title .left>span {
    display: block;
    width: 60px;
    height: 30px;
    color: #518581;
    background-color: #F9F9F9;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
}

.products .title .right {
    width: 140px;
    height: 50px;
    border: 2px solid #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.products .title .right>span {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.products .title .right>p {
    color: #151411;
}

.products .list {
    padding-top: 4rem;
}

.products .list .listUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}

.products .list .listUl>li {
    width: 32%;
}

.products .list .listUl>li>h5 {
    padding-top: 26px;
    font-size: 18px;
    color: #AFADB5;
}

.products .list .listUl>li>h3:nth-child(3) {
    padding-top: 14px;
}

.products .list .listUl>li>p {
    padding-top: 10px;
}

.products .list .listUl>li>h3:last-child {
    padding-top: 18px;
    padding-bottom: 30px;
}






@media (max-width: 992px) {

    /* ---------------------search------------------- */

    .search {
        padding: 5rem 2rem;
    }

}






@media (max-width: 768px) {
    .wrap {
        max-width: 1400px;
        padding: 0 1.5rem;
    }

    /* ---------------------banner------------------- */

    .banner .title {
        padding: 3rem 0 2rem 0;
    }

    .banner .title>h1 {
        padding-bottom: 1rem;
    }

    .banner .title>p>br {
        display: none;
    }

    .banner .title .rwBr {
        display: block;
    }

    /* ---------------------search------------------- */

    .search {
        padding: 2rem 2rem;
    }

    .search .searchWrap {
        display: flex;
        gap: 0%;
    }

    .search .searchWrap>form {
        width: 100%;
    }

    .search .searchWrap>form .inner {
        height: 54px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
    }

    .search .searchWrap>form .inner>span {
        background-size: 20px;
        width: 25px;
        height: 25px;
    }

    .search .searchWrap>form .inner>input {
        width: 75%;
        height: 38px;
        padding: 0 0.8rem;
        font-size: 14px;
    }

    .search .searchWrap>form .inner>button {
        width: 100px;
        height: 38px;
        font-size: 14px;
        letter-spacing: 0.1rem;
        margin-left: 0%;
    }

    .search .searchWrap>button {
        display: none;
    }

    /* ---------------------products------------------- */

    .products {
        padding-top: 2rem;
    }

    .products .title .left {
        gap: 8px;
    }

    .products .title .left>span {
        width: 40px;
        height: 25px;
        font-size: 12px;
        line-height: 25px;
    }

    .products .title .right {
        display: none;
    }

    .products .list {
        padding-top: 1.5rem;
    }

    .products .list .listUl {
        justify-content: flex-start;
        gap: 2%;
    }

    .products .list .listUl>li {
        width: 49%;
    }

    .products .list .listUl>li>h5 {
        padding-top: 14px;
        font-size: 12px;
    }

    .products .list .listUl>li>h3:nth-child(3) {
        padding-top: 14px;
    }

    .products .list .listUl>li>p {
        padding-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .products .list .listUl>li>h3:last-child {
        padding-top: 10px;
        padding-bottom: 30px;
    }
}