.wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.banner .title {
    width: 100%;
    text-align: center;
    padding: 100px 0 90px 0;
}

.banner .title>h1 {
    padding-bottom: 2rem;
}